@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 239, 243, 248;
    --background-end-rgb: 239, 243, 248;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background: "#EFF3F8";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* SKELETON */

.p-component,
.p-component *,
.p-skeleton,
.skeleton * {
    box-sizing: border-box;
}

.p-skeleton {
    background-color: #e9ecef;
    border-radius: 3px;
}
.p-skeleton:after {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
}